# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]



# Virtual environment
.venv/
env/
venv/

# Data files
data.json

#so .gitignore helps us to ignore those file with our data during git upload.
